nav, .nav_link, .nav_link:hover, .nav_link:active
{
    color: white;
    height: max-content;
}

#navigation
{
    width: 300px;
    background-color: black;
    height: 35px;
    width: 100%;
    position: fixed;
}

.nav_link
{
    padding-top: 5px;
    padding-left: 20px;
}

body 
{
    background-color: whitesmoke;
}

#title
{
    font-size: 90px;
}

.required 
{
    color: red;
}

#logo
{
    color: white;
    text-decoration: none;
}

td
{
    padding-top: 10px;
}



